
<!DOCTYPE html>
<html lang="es-en">

	<head>
		<base href="/"> 
		<link type="text/css" href="/css/hojadisenopagina.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-xlarge.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="/calendario.js"></script>
		<link type="text/css" href="/css/calendario.css" rel="stylesheet" />
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"/>
		<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBOUtnWXU9JSAfb_cG7HC5eb3drGiFq-A&sensor=false&callback=initMap"> 
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<title>
		HMRT GPS
		</title>
		
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">HMRT GPS</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#banner">Home</a></li>
						<li><a href="#Maps">Track</a></li>
						<li><a href="#Hist">Históricos</a></li>
						<li><a href="#Dev">Developers</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Bienvenido</h2>
					<p>Sistema de seguimiento de coordenadas para su vehículo</p>
					<ul class="actions">
						<li><a href="#Maps" class="button big special">Track</a></li>
						<li><a href="#Hist" class="button big alt">Históricos</a></li>
					</ul>
				</div>
			</section>
		</body>
		<section id="Maps" class="wrapper style1">
			<main>
				<div id="map"></div>
				<script src="/codigomaps.js">
				</script>
						
			</main>
		</section>
		<section id="Hist" class="wrapper style1">
			<header class="major">
				<h2>Consulta de Históricos</h2>
				<p>Seleccione fecha de inicio y fin</p>
			</header>
			
				<footer1>
					<div id="footer-imagen">
						<div>
							<input type="text" name="datetimes" style="text-align: center;">

							<script>
								$(function() {
  								$('input[name="datetimes"]').daterangepicker({
    							timePicker: true,
    							startDate: moment().startOf('hour'),
    							endDate: moment().startOf('hour').add(32, 'hour'),
    							locale: {
      							format: 'M/DD hh:mm A'
   										 }
 								 });
								});
							</script>
							<br>
							<input type="button" onclick="polylinea" value="Consultar">
							<div id="map1"></div>
							<br>
							<div class="row" style="justify-content: center;">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15668.989172855125!2d-74.79221985000001!3d10.9446832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1601329660411!5m2!1ses-419!2sco" 
							width="1348" height="460" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
							</div>	
						</div>			
				</footer1>
				
					
		

		</section>
		<section id="" class="wrapper style4">
		<div class="container">
			<div class="row">
				<div class="6u">
					<section class="special">
					<script>
					function polylinea(){
						var polinvalue = [
						{lat: 10.983672976421273,lng: -74.817238},
						{lat: 10.951,lng: -74.792}
							];
						var roadTrip = new google.maps.Polyline({
						path: polinvalue,
						strokeColor: '#FF0000',
						strokeOpacity: 1.0,
						strokeWeight: 2
						});
						roadTrip.setMap(map);
					}
				</script>
				 
					</section>
				</div>
			</div>
		</div>
	</section>
	<section id="Dev">
	<footer1>
		<div id="footer-imagen">
			<div>
				<h3>
				Developed by:
				</h3>
				<ul>
					<p> Alfredo Hugueth. </p>
					<p> Ezequiel Mantilla. </p>
					<p> Carlos Tous. </p>
					<p> Lazaro Reina. </p>
				
				</ul>
				<h3>
					Estudiantes de ingeniería electrónica.
				</h3>
				
			</div>
		<img src="/imagenes/logou.png"> 
					<p>
						<strong> <em> Universidad del Norte </em>.</strong>
					</p>
		</div>			
	</footer1>
	</section>
		<script>
			let str;
			let datos;
			let latitud;
			let longitud;
			let fecha_hora;
			let lati;
			let long;
			var caminoP = [];
			var cont = 0;
			function update() {
				fetch('/ruta')
					.then((response) => response.json())
					.then((json) => {
						console.log(json);
						var str = '';
						for (var i = 0; i < json.msg.data.length; ++i) {
							str += String.fromCharCode(json.msg.data[i]);
						}
						datos = str.split(',');
						latitud = datos[0]
						
						longitud = datos[1]
						
						fecha = datos[2];
						latit = parseFloat(latitud).toFixed(4);
						longi = parseFloat(longitud).toFixed(4);
						console.log(latit);
						console.log(longi);
						var coorde = {lat: latit, lng: longi};
						
						document.getElementById(
							'showLatitude'
						).innerHTML = `Latitud : ${latitud}`;
						document.getElementById(
							'showLongitude'
						).innerHTML = `Longitud : ${longitud}`;
						document.getElementById(
							'showFecha'
						).innerHTML = `Fecha y hora : ${fecha}`;
						actualPuntero(latit,longi);
						setTimeout(update, 15000);
					});
			}
			update();
			function actualPuntero(latit,longi){
				var coor = new google.maps.LatLng(latit,longi);
				marcador = new google.maps.Marker({
					position: coor ,
					map: map
				});
				
				caminoP[cont] = coor;
				cont = cont+1;
				console.log(caminoP)
				dibujarpoli(caminoP); 
				marcador.setMap(map);
				
				
			}
			function dibujarpoli(caminoP){
				var linea = new google.maps.Polyline({
				path: caminoP,
				strokeColor: '#FF0000',
				strokeOpacity:1.0,
				strokeWeight: 2
});
		
		linea.setMap(map);
		addLatLng(caminoP);
}
			function addLatLng(caminoP){
				const path = caminoP;
				path.push;
}
		</script>
	</body>
</html>
