
<!DOCTYPE html>
<html lang="es-en">

	<head>
	<base href="/">
	<link type="text/css" href="/css/hojadisenopagina.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/skel.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/style-xlarge.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/calendario.js"></script>
	<link type="text/css" href="/css/calendario.css" rel="stylesheet" />
	<meta charset="utf-8"/>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"/>
	<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBOUtnWXU9JSAfb_cG7HC5eb3drGiFq-A&sensor=false&callback=initMap">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-layers.min.js"></script>
	<script src="/js/init.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<title>
	HMRT GPS
	</title>
</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">HMRT GPS</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#banner">Home</a></li>
						<li><a href="#Maps">Track</a></li>
						<li><a href="#Hist">Históricos</a></li>
						<li><a href="#Dev">Developers</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Bienvenido</h2>
					<p>Sistema de seguimiento de coordenadas para su vehículo</p>
					<ul class="actions">
						<li><a href="#Maps" class="button big special">Track</a></li>
						<li><a href="#Hist" class="button big alt">Históricos</a></li>
					</ul>
				</div>
			</section>
		</body>
		<section id="Maps" class="wrapper style1">
			<main>
				<div id="map"></div>
						
			</main>
		</section>
		<section id="Hist" class="wrapper style1">
			<header class="major">
			<h2>Consulta de Históricos</h2>
			</header>
			<footer1>
			<div id="footer-imagen" >
			<div style="font-size: 24px;">
			<p>Seleccione fecha de inicio y fin</p>
			</div>
			<div>
			<form id="formulario" method = "post">
			<input type="text" id="datetimes" name="datetimes" style="text-align: center;">
			<script>
			$(function() {
			$('input[name="datetimes"]').daterangepicker({
			opens: 'center',
			autoApply: true,
			startDate: moment().startOf('hour'),
			endDate: moment().startOf('hour').add(32, 'hour'),
			locale: {
			format: 'YYYY-MM-DD'
			}
			});
			});
			</script>
			<br>
			<div style="font-size: 24px;">
			<p>Seleccione la hora </p>
			</div>
			<div style="text-align: center;" class="padre">
			Hora inicial &nbsp &nbsp
			<div class="hijo">
			<select id="hora_inicial" name="hora_inicial" >
				<option value="00">00</option>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
			</select>
		</div>
		<div class="hijo">
			<p>:</p>
		</div>
		<div class="hijo">	
		<select id="Minutos1">
				<option value="00">00</option>
				<option value="30">30</option>
			</select>
		</div>
		
			</div>
			<div style="text-align: center;" class="padre">
				Hora final &nbsp &nbsp &nbsp
				<div class="hijo">
				<select id="hora_final" name="hora_final" >
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
			</div>
			<div class="hijo">
				<p>:</p>
			</div>
			<div class="hijo">	
			<select id="Minutos2">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>
				</div>
				</div>
			<br>
			<div style="text-align: center; font-size: 24px;"></div>
			<div class="custom-select" style="width:300px; font-size: 18px;">
			<select id="menu">
				<option value="0">Seleccione el camión</option>
				<option value="1">Primer Camion</option>
				<option value="2">Segundo Camion</option>
				<option value="3">Ambos camiones</option>
			</select>
			</div>
			<br>
			<br>
			<input type="submit" value="Consultar" onclick="myFunction()">
			</form>
			<script src="/codigomaps.js">
			</script>
			</footer1>
			</section>
		<section id="mapi" class="wrapper style4">
		<div id = "map2">
		</div>
		<div id = "cursor"></div> 
		<script type="text/javascript">
			var cursor = document.getElementById("cursor");
			document.addEventListener('mousemove',function(e){
				var x = e.clientX;
				var y = e.clientY +window.scrollY; // Esto es lo que hay que cambiar
				cursor.style.left = x + "px";
				cursor.style.top = y + "px";
				});
		</script>
		<div id="cuadro" class="container">
			<div class="row">
				<div id = "resultiempo" class="6u">
					<p>Esto contendra los resultados de busqueda</p>
				</div>
				<div id = "resulsensor" class="6u">
					<p>Indicador de combustible</p>
					<!-- <div id="compass">
						<span>N</span>
						<span>E</span>
						<span>S</span>
						<span>W</span>
						<div id="pointer"></div>
					</div>
					-->
					<p>ValorCambiante= </p><p id="x"></p>	
				</div>
			</div>
		</div>			
		<div class="container">
			<div class="row">
				<div class="6u">
					<section class="special">
					<script>
					function polylinea(){
						var polinvalue = [
						{lat: 10.983672976421273,lng: -74.817238},
						{lat: 10.951,lng: -74.792}
							];
						var roadTrip = new google.maps.Polyline({
						path: polinvalue,
						strokeColor: '#FF0000',
						strokeOpacity: 1.0,
						strokeWeight: 2
						});
						roadTrip.setMap(map);
					}
				</script>
				 
					</section>
				</div>
			</div>
		</div>
	</section>
	<section id="Dev">
	<footer1>
		<div id="footer-imagen">
			<div>
				<h3>
				Developed by:
				</h3>
				<ul>
					<p> Carlos Tous. </p>
					<p> Lazaro Reina. </p>
					<p> Alfredo Hugueth. </p>
					<p> Ezequiel Mantilla. </p>
					
				
				</ul>
				<h3>
					Estudiantes de ingeniería electrónica.
				</h3>
				
			</div>
		<img src="/imagenes/logou.png"> 
					<p>
						<strong> <em> Universidad del Norte </em>.</strong>
					</p>
		</div>			
	</footer1>
	</section>
	
	<style>
	#pointer {
	width: 60px; height: 30px;
	/* Centering it */
	position: relative;
	left: 50%; top: 50%;
	margin-left: -30px; margin-top: -15px;
	/*background: black;*/
	transform: rotate3D(1,2,5);
	}
	</style>
	<script>
		function myFunction() {
		  location.href = "#mapi";
		}
		</script>
		<script>
			let str;
			let datos;
			let latitud;
			let longitud;
			let fecha_hora;
			let lati;
			let long;
			var caminoP = [];
			var cont = 0;
			update();
			async function update() {
				const response = await fetch('/ruta');
				const data = await response.json();
				console.log(data.msg);
				var str = '';
				if(data.msg == ""){
					setTimeout(update, 10000);
				}else{
					for (var i = 0; i < data.msg.data.length; ++i) {
					str += String.fromCharCode(data.msg.data[i]);
				}
						datos = str.split(',');
						latitud = datos[0]
						console.log(latitud);
						longitud = datos[1]
						console.log(longitud);
						fecha = datos[2];
						console.log(fecha);
						latit = parseFloat(latitud).toFixed(4);
						longi = parseFloat(longitud).toFixed(4);
						tempor = datos[3].toString();
						tempor2 = tempor.split("\r\n");
						console.log(tempor);
						console.log(tempor2);
						max = tempor2.length-2;
						console.log(max);
						console.log(tempor2[max]);
						x=tempor2[max];
						document.getElementById("x").innerHTML = x;
						console.log(latit);
						console.log(longi);
						var coorde = {lat: latit, lng: longi};
						if (cont > 0){
                                                        marcador.setMap(null);
                                                };
						
						actualPuntero(latit,longi);
						setTimeout(update, 10000);
					}
				}
			function actualPuntero(latit,longi){
				var coor = new google.maps.LatLng(latit,longi);
				map.setCenter(coor);
				marcador = new google.maps.Marker({
					position: coor ,
					map: map
				});
				
				caminoP[cont] = coor;
				cont = cont+1;
				console.log(caminoP);
				console.log(typeof(caminoP));
				dibujarpoli(caminoP); 
				marcador.setMap(map);
				
				
			}
			function dibujarpoli(caminoP){
				var linea = new google.maps.Polyline({
				path: caminoP,
				strokeColor: '#FF0000',
				strokeOpacity:1.0,
				strokeWeight: 2
});
		
		linea.setMap(map);
		addLatLng(caminoP);
}
			function addLatLng(caminoP){
				const path = caminoP;
				path.push;
}
		</script>
		<script src="/Consulta.js">
		</script>
			
			 <script>
				var x, i, j, l, ll, selElmnt, a, b, c;
				/*look for any elements with the class "custom-select":*/
				x = document.getElementsByClassName("custom-select");
				l = x.length;
				for (i = 0; i < l; i++) {
				  selElmnt = x[i].getElementsByTagName("select")[0];
				  ll = selElmnt.length;
				  /*for each element, create a new DIV that will act as the selected item:*/
				  a = document.createElement("DIV");
				  a.setAttribute("class", "select-selected");
				  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
				  x[i].appendChild(a);
				  /*for each element, create a new DIV that will contain the option list:*/
				  b = document.createElement("DIV");
				  b.setAttribute("class", "select-items select-hide");
				  for (j = 1; j < ll; j++) {
					/*for each option in the original select element,
					create a new DIV that will act as an option item:*/
					c = document.createElement("DIV");
					c.innerHTML = selElmnt.options[j].innerHTML;
					c.addEventListener("click", function(e) {
						/*when an item is clicked, update the original select box,
						and the selected item:*/
						var y, i, k, s, h, sl, yl;
						s = this.parentNode.parentNode.getElementsByTagName("select")[0];
						sl = s.length;
						h = this.parentNode.previousSibling;
						for (i = 0; i < sl; i++) {
						  if (s.options[i].innerHTML == this.innerHTML) {
							s.selectedIndex = i;
							h.innerHTML = this.innerHTML;
							y = this.parentNode.getElementsByClassName("same-as-selected");
							yl = y.length;
							for (k = 0; k < yl; k++) {
							  y[k].removeAttribute("class");
							}
							this.setAttribute("class", "same-as-selected");
							break;
						  }
						}
						h.click();
					});
					b.appendChild(c);
				  }
				  x[i].appendChild(b);
				  a.addEventListener("click", function(e) {
					  /*when the select box is clicked, close any other select boxes,
					  and open/close the current select box:*/
					  e.stopPropagation();
					  closeAllSelect(this);
					  this.nextSibling.classList.toggle("select-hide");
					  this.classList.toggle("select-arrow-active");
					});
				}
				function closeAllSelect(elmnt) {
				  /*a function that will close all select boxes in the document,
				  except the current select box:*/
				  var x, y, i, xl, yl, arrNo = [];
				  x = document.getElementsByClassName("select-items");
				  y = document.getElementsByClassName("select-selected");
				  xl = x.length;
				  yl = y.length;
				  for (i = 0; i < yl; i++) {
					if (elmnt == y[i]) {
					  arrNo.push(i)
					} else {
					  y[i].classList.remove("select-arrow-active");
					}
				  }
				  for (i = 0; i < xl; i++) {
					if (arrNo.indexOf(i)) {
					  x[i].classList.add("select-hide");
					}
				  }
				}
				/*if the user clicks anywhere outside the select box,
				then close all select boxes:*/
				document.addEventListener("click", closeAllSelect);
				</script>
	</body>
</html>
