*{
	border:0;
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#contenedor{
	background: gray;
	margin-right: auto;
	margin-left: auto;
}


body{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: auto;
}
main{
	text-align: center;
	margin:auto;
	color: black;
	height: 550px;
	margin: 6px 6px;
	
}
footer{
	color: white;
	text-align:left;
	margin:auto;
	background:gray;
	height: 300px;
	margin: 6px 6px;
}
ul{
	margin-left:40px;
}
img{
	height:100px;
	width:300px;
}

#map{
	height: inherit;
	width: inherit;
}
#map2{
	height: 500px;
	width: inherit;
	color: black;
}
#map2:hover ~ #cursor{
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	box-sizing: border-box;
	transition: 0.1ms;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	pointer-events: none;

}
/*Brújula*/
#compass {
	width: 200px; height: 200px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	
	border: 10px solid #777;
	
	background: radial-gradient(
		ellipse cover,
		white,
		#A3E2FC
	);
	
	box-shadow:
		0 0 4px #000,
		0 0 1px 8px #ccc,
		5px 10px 15px #48436f;
	
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* A bit of animation on hover would be nice too! */
#compass:hover {
	transform: skewX(-5deg) skewY(-2deg);
	
	box-shadow:
		0 0 4px #000,
		0 0 1px 8px #ccc,
		8px 12px 3px 5px #666,
		20px 28px 20px #afa9d7;
}

#compass:before {
	content: '';
	
	border: 2px dashed #444;
	position: absolute;
	left: 10px; right: 10px;
	bottom: 10px; top: 10px;
	
	border-radius: 50%;
}

#compass:after {
	content: '';
	
	position: absolute;
	left: -10px; right: -10px;
	bottom: -10px; top: -10px;
	
	border-radius: 50%;
	
	background: linear-gradient(
		-45deg,
		rgba(255,255,255,0.9) 0%,
		rgba(255,255,255,0.3) 47%,
		rgba(255,255,255,0) 48%,
		rgba(255,255,255,0) 100%
	);
}


/* neat! lets position the directions now - N E S W */

#compass span {
	position: absolute;
	font-weight: bold;
}

/* North */
#compass span:nth-child(1) {
	left: 95px; top: 20px;
}
/* South */
#compass span:nth-child(3) {
	left: 95px; bottom: 20px;
}

/* East */
#compass span:nth-child(2) {
	right: 25px; top: 90px;
}
/* West */
#compass span:nth-child(4) {
	left: 25px; top: 90px;
}


/* Next up, is the pointer */

/* A bit of CSS3 animations on the pointer would be nice */
@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}



/* Now the trick i wanna use to create a diamond
shaped pointer is to skew the #pointer

But for some reason that did'nt work hence I did it
on #pointer:before */

#pointer:before {
	content: '';
	
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	
	background: linear-gradient(
		-63deg,
		rgba(79,188,242,1) 1%,
		rgba(26,110,206,1) 50%,
		rgba(216,216,216,1) 51%,
		rgba(244,94,80,1) 53%,
		rgba(255,45,45,1) 100%
	);
	
	transform: skewX(60deg);
}

/* Looks good, lets make the pointer's joint now */

#pointer:after {
	content: '';
	
	width: 10px; height: 10px;
	background: #4781c0;
	border-radius: 50%;
	box-shadow:
		inset 0 0 4px 2px #4d4d4d,
		0 0 5px 1px white;
	
	/* centering it */
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -5px; margin-top: -5px;
}

